body {
    background-color:pink;
}
.div-1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    text-align: center;
    
}
.img {
    position: absolute;
    top: 50px;
    right: 1000px;
    width: 500px;
}
.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 175%;
    text-align: center;
   
   
    
}
.img-1 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 100;
    font-size: 100%;
    top:20%;
    position: absolute;
}
.img-2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    position: absolute;
    top:20%;
    left: 25%;
    margin-bottom: 5000px;
}
.img-3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    position: absolute;
    top:20%;
    right: 10%;
    margin-bottom: 5000px;
}
.img-4 {
    
    position: absolute;
    top:20%;
    right: 2%;
    margin-bottom: 5000px;
}
.box {
    font-size: 150%;
    text-align: center;
}
