{% extends 'base.html'%}
{% block content %}
<div class="title">
    <h1>Here are some pictures of notes I have taken from various units.</h1>
</div>
<div class="img-1">
    <img src="static/imgs/notes.png"  width="400" height="500">
    <p> In these notes are from our unit on Nationalism. In particular I was taking notes on the 'Scramble for Africa'. </p>
</div>
<div class="img-2">
    <img src="static/imgs/notes2.png"  width="400" height="500">
    
</div>
<div class="img-3">
    <img src="static/imgs/notes3.png"  width="400" height="500">
    <p>In these notes are from our unit on Imperialism. I was taking notes on imperialism in Africa similiar to the other images. </p>
</div>
<div class="img-4">
    <img src="static/imgs/notes4.png"  width="400" height="500">

</div>
{% endblock %}